@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-width: 1200px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1280px;
  margin: 0 auto;
  margin-left: 40px;
  margin-right: 40px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
/* ШАПКА */

.page-header {
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  position: relative;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.logo {
  position: absolute;
  width: 140px;
  margin-left: 70px;
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 450px;
  list-style-type: none;
  margin-left: 239px;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}
.navigation-link-home:active {
  opacity: 0.3;
}

.navigation-link-home:hover {
  color: #756257;
}

.navigation-home::before {
  content: '';
  position: absolute;
  margin-top: 64px;
  margin-left: 17px;
  display: block;
  width: 68px;
  height: 2px;
  background-color: #756257;
}

.navigation-list .navigation-home::before {
  width: 93px;
}

.navigation-user {
  display: flex;
  justify-content: flex-end;
}

.navigation-item-button {
  margin-top: 13px;
  margin-bottom: 13px;
}

.button-nav {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-left: 18px;
  margin-right: 70px;
  max-height: 37px;
  padding: 8px 15px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  border-radius: 4px;
}

.icon-link {
  margin-left: -15px;
  padding-top: 13px;
}

.navigation-link-icon {
  padding-left: 17px;
  text-decoration: none;
  fill: #000000;
}

.navigation-link-icon:hover {
  fill: #756257;
}

.navigation-link-icon:active {
  opacity: 0.3;
}

.button-nav:hover {
  background-color: #615048;
}

.button-nav:focus {
  border: 3px solid #83b3d3;
}

.button-nav:active {
  opacity: 0.3;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.card-business {
  background-image: url('images/indexTop.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 485px;
  margin: 0 auto;
}

.business-card {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 25px;
}

.main-title {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 720px;
  margin: 63px auto 31px;
}

.main-heading-text {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  width: 720px;
  margin: 0 auto 80px;
  color: #333333;
  text-align: center;
}

/* ПРОИМУЩЕСТВА */

.housing {
  padding-top: 89px;
}

.food {
  padding-top: 91px;
}

.souvenirs {
  padding-top: 85px;
}

.edge-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.edge-item-long {
  display: flex;
  background: #83b3d3;
}

.edge-item-short {
  display: table-cell;
  width: 1200px;
  height: 384px;
  color: #000000;
}

.turn {
  margin: 0;
  display: flex;
  width: 400px;
  height: 384px;
  flex-direction: column;
  justify-content: center;
}

.edge-photo-title {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 98px;
}

.reasons-number {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  width: 250px;
  margin: 30px 75px;
}

.edge-number {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.edge-photo-description {
  margin: 0;
  font-weight: 400;
  padding: 0 90px 87px;
  color: #ffffff;
  text-align: center;
}

.edge-sublist {
  display: flex;
  width: 1200px;
  height: 384px;
  padding: 0;
  list-style-type: none;
}

.edge-item {
  width: 400px;
  background: rgba(131, 179, 211, 0.12);
  text-align: center;
}

.edge-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 23px;
  width: 250px;
  height: 28px;
}

.edge-description {
  display: flex;
  width: 250px;
  height: 73px;
  padding-top: 20px;
  margin: 0 75px;
  text-align: center;
}

.edge-title-short {
  margin-top: 98px;
  margin-bottom: 29px;
  text-align: center;
}

.food-item {
  background: #ffffff;
}

.road {
  background-color: rgba(131, 179, 211, 0.2);
}

/* ПОИСК ГОСТИНЕЦ */

.hotel-search {
  display: flex;
  flex-direction: column;
}

.sentence-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background: #ffffff;
  text-align: center;
  text-transform: uppercase;
  width: 720px;
  margin: 0 auto;
  padding-top: 91px;
  padding-bottom: 29px;
}

.sentence-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  width: 720px;
  margin: 0 auto;
  padding-bottom: 56px;
}

.button-search {
  background-position: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756257;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  width: 575px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 93px;
}

.button-search:active {
  background-color: #615048;
  opacity: 0.3;
}

.button-search:hover {
  background-color: #615048;
}

.button-search:focus {
  border: 3px solid #83b3d3;
}

/* ПОДПИСКА */
.subscription {
  display: flex;
  margin: 0;
  flex-direction: column;
  color: #ffffff;
  background-color: #000000;
  background-image: url('images/indexBottom.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.subscription-title {
  font-size: 30px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 720px;
  margin: 0 auto;
  padding-top: 93px;
}

.subscription-catalog .subscription-title {
  padding-top: 73px;
}

.subscription-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 720px;
  margin: 0 auto;
  padding-top: 29px;
}

.appointment-form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 46px;
  padding-bottom: 94px;
}

.button-subscription {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  align-items: center;
  color: #ffffff;
  background-color: #83b3d3;
  text-transform: uppercase;
  padding: 0;
  border-radius: 0 10px 10px 0;
  width: 200px;
  border: none;
  cursor: pointer;
}

.button-subscription:focus {
  background-color: #68a2ca;
  border: 3px solid #756257;
}

.button-subscription:hover {
  background-color: #68a2ca;
}

.button-subscription:active {
  opacity: 0.3;
}

.input {
  width: 600px;
  min-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
  border: none;
}

.input:hover {
  background-color: #e6e6e6;
}

.input:focus {
  border: 3px solid #83b3d3;
}

.input:invalid {
  border: 2px solid #ff5757;
}

/*футер*/

.main-footer {
  background-color: #ffffff;
}

.page-footer-container {
  display: flex;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
  padding: 40px 0;
}

.footer-social {
  max-width: 170px;
}

.footer-social-list {
  padding: 0;
  display: flex;
  list-style-type: none;
}

.footer-social-link {
  width: 20px;
  height: 20px;
  margin-right: 29px;
  color: #83b3d3;
}

.footer-social-link:hover {
  color: #68a2ca;
}

.footer-social-link:focus {
  border: 3px solid #83b3d3;
  border-radius: 10px;
  padding: 10px;
}

.footer-social-link:active {
  opacity: 0.3;
}

.footer-phone {
  display: flex;
  max-width: 720px;
  height: 70px;
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-phone:hover {
  color: #756257;
}

.footer-phone:focus {
  border: 3px solid #83b3d3;
  border-radius: 10px;
}

.footer-phone:active {
  opacity: 0.3;
}

.footer-author {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-decoration: none;
  max-width: 170px;
  height: 70px;
}

.footer-author:hover {
  color: #756257;
}

.footer-author:hover:focus {
  border: 3px solid #83b3d3;
  border-radius: 10px;
}

.footer-author:active {
  opacity: 0.3;
}

/* КАТАЛОГ */

.main-inner {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.filter-container {
  background-image: url('images/catalogTop.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 408px;
}

.inner-header {
  width: 1060px;
  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
  width: 120px;
  list-style-type: none;
}

.catalog-filter-group {
  border: none;
  width: 150px;
  padding: 0;
  margin: 0;
  margin-right: 67px;
}

.catalog-filter-list {
  list-style-type: none;
  line-height: 23px;
  width: 150px;
  padding: 0;
  margin: 0;
  padding-top: 30px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}
/* СОРТИРОВКА */

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 32px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  margin-top: 34px;
}

.catalog-filter-label {
  position: relative;
  margin: 0;
  padding: 0;
  color: #ffffff;
}
.range-input-min {
  box-sizing: border-box;
  width: 143px;
  height: 48px;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-color: transparent;
  padding-left: 18px;
  border: 2px solid #ffffff;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
}

.range-input-max {
  box-sizing: border-box;
  width: 143px;
  height: 48px;
  font-size: 18px;
  line-height: 23px;
  padding-left: 18px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.check {
  position: absolute;
  font-size: 18px;
  line-height: 23px;
  right: 14px;
  top: 10px;
  opacity: 0.3;
}

.range-input-min:active {
  background-color: #756257;
}
.range-input-min:focus {
  border: 2px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 3px #81b3d3;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
}

.control-mark {
  position: absolute;
  background-color: #ffffff;
  padding: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-mark:focus {
  border-color: #83b3d3;
}

.control-mark:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input:disabled + .control-mark {
  border-color: #242424;
}

.control-input[type='checkbox']:checked + .control-mark::before,
.control-input[type='checkbox']:checked + .control-mark::after {
  position: absolute;
  height: 2px;
  background-color: #242424;
  content: '';
}

.sorting-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding-top: 44px;
}

.control-input[type='checkbox']:checked + .control-mark::before {
  transform: rotate(45deg);
  width: 8px;
  top: 10px;
  left: 2px;
}

.control-input[type='checkbox']:checked + .control-mark::after {
  transform: rotate(-45deg);
  width: 14px;
  top: 8px;
  left: 6px;
}

.control-input[type='radio'] + .control-mark {
  border-radius: 50%;
}

.control-input[type='radio']:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #242424;
  border-radius: 50%;
  content: '';
}

.found {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin: 6px auto 3px 0;
}

.select-control {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  width: 287px;
  margin-right: 81px;
  padding-left: 19px;
  border-radius: 4px;
  border: 2px solid #e6e6e6;
}

.select-control:hover {
  border: 2px solid #83b3d3;
}

.select-control:active {
  opacity: 0/3;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 1px;
  margin-right: 8px;
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid #e6e6e6;
}

.grid-toggle {
  border: 2px solid #000000;
}

.card-grid-toggle:hover {
  border: 2px solid #83b3d3;
}

.card-grid-toggle:focus {
  border: 2px solid #83b3d3;
}

.card-grid-toggle:active {
  border: 2px solid #000000;
}

.inner-header-title {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  padding-top: 35px;
  padding-bottom: 5px;
}

.main-inner {
  background-image: url('/images/catalogTop.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 410px;
}
.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.condition {
  line-height: 26px;
  color: #ffffff;
}

.apply-reset {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-apply {
  width: 160px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #83b3d3;
  text-align: center;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.button-apply:hover {
  background-color: #68a2ca;
  border-radius: 4px;
}

.button-apply:active {
  opacity: 0.3;
}

.button-apply:focus {
  border: 3px solid #ffffff;
}

.reset {
  line-height: 23px;
  color: #ffffff;
  text-decoration: none;
}

.reset:hover {
  opacity: 0.6;
}

.reset:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.reset:active {
  opacity: 0.3;
}

.hotels {
  width: 1060px;
  margin: 0 auto;
  padding-top: 53px;
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 18px 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.hotels-card-image:active {
  opacity: 0.3;
}

.hotels-card-image:hover {
  opacity: 0.6;
}

.hotels-card-link:focus {
  border: 3px solid #83b3d3;
}

.hotels-card {
  display: grid;
  grid-template-rows: 206px min-content 23px min-content min-content;
  grid-template-columns: 133px 26px 140px;
  row-gap: 16px;
  width: 300px;
  padding: 20px;
  background-color: #ffffff;
}

.hotels-card-link {
  grid-column: 1/-1;
}

.hotels-card-title-link {
  text-decoration: none;
  grid-column: 1/-1;
}

.hotels-card-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
  grid-column: 1/-1;
}

.hotels-card-price {
  color: #333333;
  align-self: center;
  margin: 0;
  grid-column: 1/2;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  align-self: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
}

.hotels-card-button {
  grid-column: 1/2;
  background-color: #756257;
  padding-top: 9px;
  padding-bottom: 10px;
}

.button:active {
  opacity: 0.3;
}

.hotels-card-button:focus {
  border: 3px solid #83b3d3;
}

.favorites-button:focus {
  border: 3px solid #756257;
}

.selected:focus {
  border: 3px solid #756257;
}

.favorites-button {
  grid-column: 3/-1;
  background-color: #83b3d3;
  padding-top: 9px;
  padding-bottom: 10px;
}
.price {
  grid-column: 3/-1;
}
.selected {
  grid-column: 3/-1;
  background-color: #7db54f;
  padding-top: 9px;
  padding-bottom: 10px;
}

.rating {
  grid-column: 2/-1;
  border: 0.5px solid #f2f2f2;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  text-align: center;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 10px;
  border-radius: 4px;
}

.rating-tall {
  grid-column: 1/2;
  width: 93px;
  padding-top: 10px;
  background-image: url(images/icon/star.svg);
  background-size: 25px 17px;
  background-repeat: repeat-x;
  background-position: left -4px center;
}

.rating-middle {
  width: 68px;
  padding-top: 10px;
  background-image: url(images/icon/star.svg);
  background-size: 25px 17px;
  background-repeat: repeat-x;
  background-position: left -4px center;
}
.rating-short {
  width: 43px;
  padding-top: 10px;
  background-image: url(images/icon/star.svg);
  background-size: 25px 17px;
  background-repeat: repeat-x;
  background-position: left -4px center;
}

.border {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #e6e6e6;
  transform: rotate(180deg);
}

.button-load-more {
  border-radius: 4px;
  width: 620px;
  height: 60px;
  font-weight: 700;
  margin-left: 218px;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
  background-color: #83b3d3;
}

/* ПАГИНАЦИЯ*/

.pagination {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  list-style-type: none;
}

.pagination-item:not(:first-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 55px;
  min-height: 55px;
  padding: 14px 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  background-color: #83b3d3;
  text-decoration: none;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  border: 3px solid #756257;
}

.pagination-link:active {
  opacity: 0.3;
}

.hotel-page {
  display: flex;
  line-height: 23px;
  width: 175px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 300px;
  color: #333333;
}

.number-hotels {
  box-sizing: border-box;
  width: 150px;
  margin-left: 51px;
  padding-top: 3px;
  padding-bottom: 4px;
  border-radius: 4px;
  border: 2px solid #e6e6e6;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}
/* МОДАЛЬНОЕ ОКНО */
.modal-container {
  position: fixed;
  top: 80;
  left: 80;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px;
  border-radius: 30px;
  background-color: #ffffff;
}

.modal-auth {
  width: 575px;
}

.modal-close-button {
  position: absolute;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #f2f2f2;
  background-image: url('images/icon/modal-close.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}
.modal-close-button:focus:active,
.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  border: 3px solid #83b3d3;
}

.modal-title {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.auth-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.choice-date {
  width: 155px;
  margin: 0;
}

.field {
  padding-left: 19px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  line-height: 40px;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.field:focus {
  border: 2px solid #000000;
  background-color: #ffffff;
}

.field:focus {
  border: 3px solid #83b3d3;
}

.field:hover {
  background-color: #e6e6e6;
}

.form-label {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  line-height: 40px;
  color: #000000;
}

.arrival-dates {
  display: flex;
  flex-direction: column;
  width: 420px;
  margin-bottom: 11px;
  right: 0;
}

.field-age {
  display: flex;
  position: absolute;
  height: 50px;
  width: 133px;
  right: 280px;
}

.icon-date {
  position: absolute;
  margin: 18px;
  right: 0px;
}

.age {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
  width: 133px;
}

.adults-age {
  position: relative;
  display: flex;
  width: 100%;
}

.adults {
  display: flex;
  align-items: center;
  margin: 0;
  width: 50%;
  font-weight: 700;
  line-height: 40px;
  color: #000000;
}

.date-past {
  color: #ff5757;
}

.field-age,
.little {
  display: flex;
  width: 133px;
  font-weight: 700;
  text-align: center;
  height: 50px;
  top: 0;
  border-radius: 4px;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.plus-adults {
  position: absolute;
  left: 260px;
  bottom: 31px;
}

.plus-adults:focus {
  border: 3px solid #83b3d3;
}

.plus-children {
  position: absolute;
  right: 22px;
  top: 20px;
}

.plus-adults:focus {
  border: 3px solid #83b3d3;
}

.minus-adults {
  position: absolute;
  left: 175px;
  bottom: 37px;
}

.minus-children {
  position: absolute;
  right: 107px;
  top: 27px;
}

.specify {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
}

.children {
  display: flex;
  align-items: center;
  margin-top: 3px;
  margin-left: 61px;
  font-weight: 700;
  line-height: 40px;
  color: #000000;
}

.specify-children {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 3px 9px;
  background-color: #83b3d3;
  color: #ffffff;
  border: none;
  margin-right: 25px;
  margin-left: 8px;
}

.triangle {
  position: absolute;
  top: 48px;
  right: 165px;
}
.phrase {
  position: absolute;
  font-size: 16px;
  line-height: 20px;
  top: 57px;
  right: 45px;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
}

.button-date {
  min-height: 50px;
  width: 100%;
  font-weight: 700px;
  margin-top: 40px;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 10px;
  background-color: #83b3d3;
  border: none;
  cursor: pointer;
}

.button-date:hover {
  background-color: #68a2ca;
}

.button-date:focus {
  border: 3px solid #756257;
}

.button-date:active {
  background-color: #68a2ca;
}
