@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ШАПКА */

.page-header {
  height: 70px;
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  width: 140px;
  margin-left: 70px;
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 450px;
  list-style-type: none;
}

.navigation-user {
  max-width: 300px;
  margin-right: 70px;
  margin-left: auto;
}

.navigation-icon {
  min-width: 32px;
  min-height: 26px;
  outline: 5px solid #7db54f;
  outline-offset: -5px;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-user {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.button-nav {
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
}
/* ПРОИМУЩЕСТВА */

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.card-business {
  background-image: url('images/indexTop.jpg');
  background-repeat: no-repeat;
  height: 485px;
  margin: 0 auto;
  background-color: #83b3d3;
}

.business-card {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.main-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 720px;
  margin: 63px auto 31px auto;
}

.main-heading-text {
  width: 720px;
  margin: 0 auto 80px;
}

.main-heading-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
}

/* ПРОИМУЩЕСТВА */

.edge-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.edge-item-long {
  display: flex;
  background: #83b3d3;
}

.edge-item-short {
  display: table-cell;
  width: 1200px;
  height: 384px;
  color: #000000;
}

.turn {
  margin: 0;
  display: flex;
  width: 400px;
  height: 384px;
  flex-direction: column;
  justify-content: center;
}

.edge-photo-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  height: 58px;
  margin: 0;
  padding-top: 98px;
}

.reasons-number {
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  width: 250px;
  height: 21px;
  margin: 30px 75px;
}

.edge-number {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.edge-photo-description {
  margin: 0;
  font-weight: 400;
  padding: 0 90px 87px;
  color: #ffffff;
  text-align: center;
}

.edge-sublist {
  display: flex;
  width: 1200px;
  height: 384px;
  padding: 0;
  list-style-type: none;
}

.edge-item {
  width: 400px;
  background: rgba(131, 179, 211, 0.12);
  text-align: center;
}

.edge-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 184px auto 0;
  width: 250px;
  height: 28px;
}

.edge-description {
  display: flex;
  font-weight: 400;
  margin: 0;
  width: 250px;
  height: 73px;
  text-align: center;
  padding-top: 20px;
  margin: 0 75px 79px;
}

.edge-title-short {
  margin-top: 98px;
  margin-bottom: 29px;
  text-align: center;
}

.food {
  background: #ffffff;
}

.road {
  background-color: rgba(131, 179, 211, 0.2);
}

/* ПОИСК ГОСТИНЕЦ */

.hotel-search {
  display: flex;
  flex-direction: column;
}

.sentence-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background: #ffffff;
  text-align: center;
  text-transform: uppercase;
  width: 720px;
  margin: 0 auto;
  padding-top: 91px;
  padding-bottom: 29px;
}

.sentence-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  height: 52p;
  width: 720px;
  margin: 0 auto;
}

.button-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756257;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  width: 575px;
  height: 60px;
  margin: 56px auto 93px;
}

/* ПОДПИСКА */
.subscription {
  display: flex;
  margin: 0;
  flex-direction: column;
  height: 411px;
  color: #ffffff;
  background-color: #000000;
  background-image: url('images/indexBottom.jpg');
  text-align: center;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 720px;
  height: 36px;
  margin: 0 auto;
  padding-top: 94px;
}

.subscription-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 720px;
  height: 52px;
  margin: 0 auto;
  padding-top: 29px;
}

.appointment-form {
  display: flex;
  width: 800px;
  margin-left: 200px;
  padding-top: 46px;
  padding-bottom: 94px;
}

.button-subscription {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  align-items: center;
  color: #ffffff;
  background-color: #83b3d3;
  text-transform: uppercase;
  border-radius: 0 10px 10px 0;
  width: 200px;
  height: 60px;
}

.input {
  padding: 0;
  width: 600px;
  height: 60px;
  border: 0;
}

/*футер*/

.main-footer {
  background-color: #ffffff;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.footer-social {
  max-width: 150px;
  margin: 49px 61px 53px 72px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.footer-social-item {
  width: 20px;
  height: 18px;
  margin-right: 29px;
  outline: 5px solid #7db54f;
  outline-offset: -5px;
}

.footer-phone {
  max-width: 720px;
  margin: auto;
}

.footer-author {
  max-width: 115px;
  height: 34px;
  margin: 42px 72px 44px 53px;
  margin-left: auto;
}

.footer-social-link {
  color: #000000;
  text-decoration: none;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-author {
  color: #000000;
  text-decoration: none;
}

/* КАТАЛОГ */

.main-inner {
  width: 1200px;
  margin: 0 auto;
}

.inner-header-title {
  margin: 0;
  width: 530px;
  height: 68px;
  margin-left: 70px;
  padding-top: 35px;
  padding-bottom: 5px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  width: 120px;
  margin-left: 73px;
  list-style-type: none;
}

.catalog-filter {
  display: flex;
  width: 1200px;
  height: 280px;
}

.sorting-container {
  display: flex;
  width: 1200px;
}

.choice-container {
  width: 1200px;
}

.sorting-container .button {
  width: 48px;
  height: 48px;
  margin-top: 44px;
  margin-left: 82px;
  outline: 5px solid #7db54f;
  outline-offset: -5px;
}

.sorting-container .button-light {
  width: 48px;
  height: 48px;
  margin-left: 8px;
  margin-top: 44px;
  outline: 5px solid #7db54f;
  outline-offset: -5px;
}

.found {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  width: 350px;
  margin-top: 50px;
  margin-bottom: 3px;
  margin-left: 71px;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  width: 287px;
  margin-top: 44px;
  margin-left: 180px;
  outline: 5px solid #7db54f;
  outline-offset: -5px;
}

.pagination-show-more {
  border-radius: 4px;
  width: 620px;
  margin-left: 290px;
}

.pagination {
  display: flex;
  margin: 0;
}

.pagination-item {
  flex-direction: reverse;
}

.inner-header-title {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.main-inner {
  background-image: url('/images/catalogTop.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.condition {
  line-height: 26px;
  color: #ffffff;
}

.button-light {
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.button-apply {
  width: 160px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #83b3d3;
  text-align: center;
  text-transform: uppercase;
}

.reset {
  color: #ffffff;
  text-decoration: none;
  width: 160px;
  height: 48px;
  margin-right: 72px;
}

.hotels {
  background-color: #ffffff;
}

.hotels-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 20px;
}

.hotels-card {
  width: 300px;
  padding: 20px;
  background-color: #ffffff;
  margin-right: 18px;
  margin-bottom: 18px;
}

.card:nth-child(4n) {
  margin-left: 70px;
}

.hotels-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.hotels-card-price {
  line-height: 23px;
  color: #333333;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.hotels-card-button {
  background-color: #756257;
}

.favorites-button {
  background-color: #83b3d3;
}

.selected {
  background-color: #7db54f;
}

.rating {
  border: 0.5px solid #f2f2f2;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  text-align: center;
  text-transform: uppercase;
}
/* ПАГИНАЦИЯ*/
.pagination {
  background-color: #ffffff;
}

.pagination-show-more {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  align-items: center;
  background-color: #83b3d3;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  align-items: center;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}
